<div>
  <form method='POST' action='/article/edit/{{_id}}'>
    <fieldset>
      <legend>Edit Article</legend>

      <div>
        <label for='articleTitle'>Article Title</label>
        <div>
          <input
            type='text'
            id='articleTitle'
            placeholder='Article Title'
            value='{{title}}'
            name='title'
            required
          />
        </div>
      </div>
      <div>
        <label for='articleContent'>Content</label>
        <div>
          <textarea
            id='articleContent'
            rows='5'
            name='content'
            required
          >{{content}}</textarea>
        </div>
      </div>

      <div>
        <div>
          <a href='/'>Cancel</a>

          <button type='submit' href='/article/edit/{{id}}'>Edit</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>