<div>
  <div>
    <div>
      {{#each articles}}
        <article>
          <header>
            <h2>{{title}}</h2>
          </header>
          <p>{{content}}</p>
          <small>{{author.email}}</small>

          <footer>
            <div>
              <a href='/article/details/{{_id}}'>Read more &raquo;</a>
            </div>
          </footer>
        </article>
      {{/each}}
    </div>
  </div>
</div>