<!-- the html value attribute in square brackets will have the value from the surname variable in class file -->
<div>
    <h3>Data binding</h3>
    <input type="text" [value]="surname">
</div>
<hr>

<!-- 1. We use events with round brackets and can provide parameters. In this case we get reference to the element with # and provide the value 
2. The reference with # for the element can be used anywhere in the current html file, not only for the current element -->
<div>
    <h3>Event binding</h3>
    <input #myInput type="text" (keyup)="showText(myInput.value)">
</div>
<hr>

<!-- 1. Two-way data binding will get the title value from the class, but will also update the value in the class if we change the input value
2. ngModel require FormsModule to be imported -->
<div>
    <h3>Two-way data binding</h3>
    <input type="text" [(ngModel)]="title">
    <p>Auto updated with two-way data binding, Title: {{ title }}</p>
</div>
<hr>
