<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sessions</title>
    <style>
      ul {
        display: flex;
      }
      ul li {
        list-style: none;
        margin: 1rem;
      }
      ul li a {
        color: #000;
        padding: 1rem;
        text-decoration: none;
        background: rgb(9, 187, 18);
      }
    </style>
  </head>
  <body>
    <ul>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
    </ul>
    <h3>Public home page</h3>
  </body>
</html>
