<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sessions</title>
    <style>
      button {
        padding: 10px 15px;
        margin-top: 1rem;
        font-size: 1rem;
        border: 1px solid #333;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h3>You Are Authenticated</h3>
    <p>Hello, <%= username %>!</p>

    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </body>
</html>
